%div.container
  %div.row
    %div.form-group.col-md-4.col-md-offset-1
      %h2 
        Edit #{@job.title} here!
      = render partial: "shared/errors", locals: {target: @job}
      %br
      = render partial: "form"