%div.container
  %div.row
    %div.col-md-4.col-md-offset-1
      %h3 Jobs:
      %div.list-group
      - @jobs.each do |city, job|
        %div.list-group-item
          %h3.list-group-item-heading
            =city
          .list-group-item-text
          -job.each do |job|
            .list-group-item-text
            %br/
            %strong=job.title
            at 
            =job.company.name
            
          
